{% extends 'layout.html' %} <!-- наследуем layout.html -->
{% block inbody_content %} <!-- открываем блок, который есть в layout.html -->
    <div class="index_url">
    <a href="/matinee_price">
        <div class="box-1">
            <div class="btn btn-one btn-x">
                <span>ЦЕНЫ НА ФОТО С УТРЕННИКА</span>
            </div>
        </div>
    </a>
    </div>
    <div class="index_url">
    <a href="/photosession_price.html">
        <div class="box-1">
            <div class="btn btn-one btn-x">
                <span>ЦЕНЫ НА ФОТОПРОЕКТ</span>
            </div>
        </div>
    </a>
    </div>
    <div id="container">

    {% for m in images_urls %}

    <div class="el"><img alt="" src="/{{ m }}" >
    <div class="img_name">{{ m.split('/')[-1].split('.')[0] }}</div>
    </div>

    {% endfor %}

</div>
{% endblock inbody_content %} <!-- закрываем блок, который есть в layout.html -->