{% extends 'layout.html' %} <!-- наследуем layout.html -->
{% block inbody_content %} <!-- открываем блок, который есть в layout.html -->
<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку на розовом озере</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lake/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->
<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку в лаванде</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lavender/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->
<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Тут текст про съёмку в маках</span> <br>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
             minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
             odit quia rem soluta.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/poppy/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->
<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Тут текст про съёмку в садах</span> <br>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
             minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
             odit quia rem soluta.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/garden/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

{#<div class="box-1">#}
{#  <div class="btn btn-one">#}
{#    <span>НАЖМИ МЕНЯ</span>#}
{#  </div>#}
{#</div>#}
{# <div class="box-1">#}
{#  <div class="btn btn-pressed">#}
{#    <span>НАЖАТА</span>#}
{#  </div>#}
{#</div>#}
{% endblock inbody_content %} <!-- закрываем блок, который есть в layout.html -->