{% extends 'layout.html' %} <!-- наследуем layout.html -->
{% block inbody_content %} <!-- открываем блок, который есть в layout.html -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку в лаванде</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lake/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку на розовом озере</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lavender/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про новогоднюю съёмку в студии</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/studio_n_y/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку в студии</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/studio/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про семейные выездные новогодние фотосессии</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/outdoor_n_y/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про детские зимние съёмки</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/bitak_n_y/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про таинство(таинства? Венчание?)</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/glans/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про домашние фотосессии</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/home/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку в лимонарии</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lemons/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Тут текст про съёмку на море</span> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
            minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
            odit quia rem soluta.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/sea/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Тут текст про съёмку в чайной розе</span> <br>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
             minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
             odit quia rem soluta.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/roses/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Тут текст про детские летние фотосессии</span> <br>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
             minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
             odit quia rem soluta.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/summer_child/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Тут текст про съёмку в маках</span> <br>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
             minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
             odit quia rem soluta.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/poppy/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Тут текст про съёмку в садах</span> <br>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, laborum magni
             minus nobis praesentium quasi! Accusamus architecto doloribus ea explicabo hic iste neque nihil nobis,
             odit quia rem soluta.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/garden/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

{#<div class="box-1">#}
{#  <div class="btn btn-one">#}
{#    <span>НАЖМИ МЕНЯ</span>#}
{#  </div>#}
{#</div>#}
{# <div class="box-1">#}
{#  <div class="btn btn-pressed">#}
{#    <span>НАЖАТА</span>#}
{#  </div>#}
{#</div>#}
{% endblock inbody_content %} <!-- закрываем блок, который есть в layout.html -->