{% extends 'layout.html' %} <!-- наследуем layout.html -->
{% block inbody_content %} <!-- открываем блок, который есть в layout.html -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Осенние фотосессии в парках</span> <br>
            Самые красочные осенние фотосессии в октябре. Знаю лучшие места для ваших красивых кадров<br>
            Стоимость 3500р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/autumn/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Новогодние выездные фотосессии</span> <br>
            В Новогоднее время, когда всё вокруг красиво и сверкает разноцветными огнями, можно сделать
            отличные кадры в праздничных декорациях.<br>
            Стоимость от 3500р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/outdoor_n_y/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Новогодние съёмки в студии</span> <br>
            Новый год - долгожданный праздник для всех. Новогодняя фотосессия это отличный повод,
            что бы создать праздничное настроение для всей семьи и отлично провести время<br>
            Стоимость от 3500р. Стоимость студии оплачивается отдельно, 1 час от 1500р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/studio_n_y/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Детская зимняя фотосессия</span> <br>
            Выпавший снег - прекрасный повод провести фотосессию вашего ребёнка<br>
            Стоимость 3000р. Стоимость аренды реквизита до 1000р. Можете привезти собственный реквизит.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/bitak_n_y/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессия в лаванде</span> <br>
            Самое популярное место для фотосессии в Крыму - в бескрайних, тянущихся до горизонта полях фиолетовых
            цветов, наполняющих воздух пьянящим ароматом. Это не Прованс или Италия, это лавандовые поля в Крыму.<br>
            Стоимость 7500р. Отдаю 20 кадров в ретуши.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lavender/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессия в лимонарии</span> <br>
            С ноября по январь для желающих экзотики предлагаю индивидуальные и детские фотосессии в лимонарии<br>
            Стоимость 6000р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lemons/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессии таинств</span> <br>
            Фотографирую крещения, венчания, никях.
            Стоимость 5000р. Отдаю все фото в цвето и свето коррекции, ретушь заказывайте отдельно, 1 кадр - 250р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/glans/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессия на розовом озере</span> <br>
            Одно из самых популярных мест Крыма на котором можно сделать незабываемую фотосессию.
            Во второй половине лета вода в нём приобретает насыщенный розовый цвет.<br>
            Стоимость 8500р. Отдаю 20 кадров в ретуши.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/lake/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессия в студии</span> <br>
            Для всех желающих провожу фотосессии в студиях г.Симферополь.<br>
            Стоимость от 3500р. Стоимость студии оплачивается отдельно, 1 час от 1500р.

        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/studio/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессия у вас дома</span> <br>
            Если у вас праздник, необязательно делать фотосессию в студии, можно провести её у вас дома<br>
            Стоимость от 3500р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/home/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
        <a href="#">
            <span class="about">Фотосессия на море</span> <br>
            Провожу фотосессии у моря на различных побережьях Крыма<br>
            Стоимость 7500р - 8500р.
        </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/sea/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Фотосессии в чайной розе</span> <br>
             Июньская фотосессия в чайной розе это не только красивые фото
             на память, но и прекрасная ароматерапия.<br>
             Стоимость 6500р.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/roses/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Детские фотосессии</span> <br>
             У меня есть много различного реквизита, который подойдёт для съёмки ваших деток весной, летом и осенью.<br>
             Стоимость 3000р. Реквизит оплачивается отдельно до 1000р.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/summer_child/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Фотосессия в маках</span> <br>
             Май и июнь прекрасны для ярких кадров в маковых полях. <br>
             Стоимость 6500р.

         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/poppy/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

<div class="grid"> <!-- сетка -->
    <div class="text">
         <a href="#">
            <span class="about">Фотосессия в цветущих садах</span> <br>
             Начиная с марта весь Крым превращается в цветущий сад. Миндаль, персик, черешня, яблоня, сирень
             - популярные места для проведения ваших фотопрогулок.<br>
             Стоимость 5000-6500р. В зависимости от местоположения сада.
         </a>
</div>
    <div class="photo">
        <img alt="" src="{{ url_for('static',filename='images/garden/1.jpg') }}">
    </div>
</div> <!-- конец сетки -->

{#<div class="box-1">#}
{#  <div class="btn btn-one">#}
{#    <span>НАЖМИ МЕНЯ</span>#}
{#  </div>#}
{#</div>#}
{# <div class="box-1">#}
{#  <div class="btn btn-pressed">#}
{#    <span>НАЖАТА</span>#}
{#  </div>#}
{#</div>#}
{% endblock inbody_content %} <!-- закрываем блок, который есть в layout.html -->