<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <title>{{ title }}</title>

  </head>

<body>
{#Хеадер#}

<div class="new_topnav">
    <a href="/">
        <div class="box-1">
            <div class="btn btn-one">
                <span>ГЛАВНАЯ</span>
            </div>
        </div>
    </a>
    <a href="/gallery">
        <div class="box-1">
            <div class="btn btn-one">
                <span>ГАЛЕРЕЯ</span>
            </div>
        </div>
    </a>
    <div class="box-1">
        <div class="btn btn-one">
            <span>КОНТАКТЫ</span>
        </div>
    </div>
</div>


{#Конец базового шаблона#}
{%  block inbody_content %}
{%  endblock inbody_content %}

{#Конец базового шаблона#}
{#Футер#}
<ul class="footer">
  <li><a href="https://instagram.com/karelina_foto/"><img class="icon" src="{{ url_for('static',filename='icons/insta.svg') }}" alt="" ></a></li>
  <li><a href="https://vk.com/karelinajulietta"><img class="icon" src="{{ url_for('static',filename='icons/vk.svg') }}" alt="" ></a></li>
    <li><a href="tel:+79787440997"><img class="icon" src="{{ url_for('static',filename='icons/call.svg') }}" alt="" ></a></li>
</ul>
<div class="sukapadding"></div>
  </body>
</html>