{% extends 'layout.html' %} <!-- наследуем layout.html -->
{% block inbody_content %} <!-- открываем блок, который есть в layout.html -->

<div class="allpage">
    <div class="action"><span class="italic">При заказе на <span class="bold">2000 руб.</span> и больше, дарю
                сертификат 500р. на все свои фотосессии вне детского сада, для вас и вашей семьи. А ещё мои фотосессии вы
                можете подарить своим друзьям и близким.<br>Переходите на главную страницу
                <a href="/">перейти на главную</a><br>и ознакомьтесь с ценами. Нажав на кнопки внизу страницы вы можете
                ознакомиться с моими работами в инстаграм и вконтакте.</span>
    </div>
    <div class="header">
    <h1>Уважаемые родители!</h1>
        <span class="header-text">    Прошу Вас обратить внимание, что образцы сделаны в эконом варианте.<br>
            Все фотографии после заказа будут проходить свето- и цветокоррекцию и печататься в профлаборатории!
            Цвет на образцах и печатных фотографиях может не совпадать по многим причинам,
            одна из которых – разная цветопередача на устройствах.</span>
    </div>
    <div class="prices">
        <div class="price">
            <div class="price_header">
                Специальное предложение!
            </div>
            <div class="price_about">
                Вы можете заказать абсолютно все качественные кадры с вашим ребенком, где ребёнок изображён чётко.<br>
                Любые другие кадры могу удалить, если посчитаю, что акцент сделан на других детях. Выпишите номера
                 кадров с вашим ребёнком и передайте воспитателю.
            </div>
            <div class="price_rubles">
                Стоимость 1600 руб.
            </div>
        </div>
        <div class="price">
            <div class="price_header">
                Распечатка в профессиональной лаборатории:
            </div>
            <div class="price_about">
                Используется качественная фотопечать,<br> с годами фотографии не изменят цвет и не выгорят.<br>
                В напечатанном виде возможны такие форматы для заказа:<br> 10х15см, 15х23см, 20х30см.<br>
                Общие групповые фотографии печатаются только форматом 15х23см или 20х30см - нужно указать.<br>
                <span class="bold">Если вы закажете общее групповое фото в размере 10х15, оно будет напечатано в формате
                15х23</span> т.к. в формате 10х15см на групповом общем фото дети плохо различимы.<br>
                Групповое фото, это фото, где все дети группы на одном кадре:
                <div class="photo">
                <img alt="" src="{{ url_for('static',filename='images/group_photo_sample/1.jpg') }}">
                </div>
                <span class="bold">При заказе на 2000 руб.</span> и больше, все заказанные кадры
                <span class="bold"> по вашему желанию</span>,
                отдаю в цифровом формате в <span class="bold">подарок!</span>
                Нужно обязательно указать в заказе +ПОДАРОК т.к. не всем родителям нужны кадры в цифровом формате.
                Фото в цифровом формате по ссылке хранятся неделю, просьба скачивать вовремя.<br>
            </div>
            <div class="price_rubles">
                10х15см цена 100 руб.<br>
                15х23см цена 150 руб.<br>
                20х30см цена 200 руб.<br>
                Кадр в цифровом формате, цена 150р.
            </div>

        </div>
    </div>
</div>

{% endblock inbody_content %} <!-- закрываем блок, который есть в layout.html -->